/**********************************************************
*		 Material 
**********************************************************/

.md-button {
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -o-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
	font-weight: 600;
	box-shadow: 0 2px 5px 0px #c1c1c1;
	text-transform: unset;
}

.md-button[disabled],.md-button[disabled]:hover {
    background-color: #EEEEEE !important;
    color: #AEAEAE !important;
}

.md-button.md-button-only-icon {
	min-width: 10px;
    margin: 0;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    padding: 0 10px;
    box-shadow: unset;
}

.md-button.md-default-theme:not([disabled]).md-focused.md-button-only-icon,
.md-button:not([disabled]).md-focused.md-button-only-icon,
.md-button.md-default-theme.md-button-only-icon:not([disabled]):hover,
.md-button.md-button-only-icon:not([disabled]):hover {
    background-color: rgba(158,158,158,0.2);
}

/* .md-button.md-no-button {
	color: #1ac34a;
} */

.md-button.md-no-button-grey {
	color: #777777;
}

.md-button.md-default-theme:not([disabled]).md-focused.md-no-button,
.md-button:not([disabled]).md-focused.md-no-button,
.md-button.md-default-theme.md-no-button:not([disabled]):hover,
.md-button.md-no-button:not([disabled]):hover,
.md-button.md-default-theme:not([disabled]).md-focused.md-no-button-grey,
.md-button:not([disabled]).md-focused.md-no-button-grey,
.md-button.md-default-theme.md-no-button-grey:not([disabled]):hover,
.md-button.md-no-button-grey:not([disabled]):hover {
    background-color: transparent;
}

.md-button.md-flat {
	background-color: #f4f4f4;
	color: #000;
}

md-select {
	margin: 0;
    padding: 5px 15px;
}

md-select:hover {
    background-color: transparent !important;
}

.md-select-grey {
    background-color: #f2f2f2;
}

md-select:hover {
	background-color: #e8e8e8;
}

/* md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: #1ac34a !important;
} */

md-select md-select-value div.md-text,
.md-select-menu-container md-select-menu md-content md-option div.md-text {
	color: #002938;
	font-weight: 500;
	font-size: 18px;
}

md-select md-select-value.md-select-placeholder > span:first-child {
	font-size: 18px;
	color: #6A7A87;
}

.md-select-menu-container md-select-menu md-content md-option[selected] {
    color: rgb(63,81,181);
}

/* .md-checkbox-enabled.md-default-theme[selected] .md-icon,
.md-checkbox-enabled[selected] .md-icon {
    background-color: #1ac34a !important;
} */

.md-button-light-grey {
	background-color: #f2f2f2 !important;	
	color: #002938 !important;
}

.md-button-light-grey:hover {
	background-color: #e8e8e8 !important;
}

.md-button-grey {
	background-color: #dbdbdb !important;	
	color: #002938 !important;
}

/* .md-button-grey:hover {
	background-color: #dbdbdb !important;	
} */

.md-button-blue {
	background-color: #1D9AEB !important;
	color: #fff !important;	
}

.md-button-blue:hover {
	background-color: #1084CF !important;
}

.md-button-red {
	background-color: #E71E61 !important;
	color: #fff !important;	
}

.md-button-red:hover {
	background-color: #ce0d4d !important;
}

.md-button-secondary {
	background-color: #fff;
	color: #657680;
	box-shadow: unset;
	text-transform: uppercase !important;
	padding: 0 12px;
}

.md-button-secondary:hover {
	background-color: #F9F9F9 !important;	
}

.md-button-secondary.md-button-secondary-blue {
	color: #1D9AEB;
}

.md-button-white {
	background-color: #fff;
	color: #1D9EEF;
	box-shadow: unset;
}

/* .md-button-light-blue:hover {
	background-color: #DFF0FF!important;
} */

.md-button-light-blue {
	background-color: #DFF0FF;
	color: #1D9AEB;
	box-shadow: unset;
	padding: 0 15px;
}

.md-button-light-blue:hover {
	background-color: #DFF0FF!important;
}

.md-button.md-button-secondary[disabled], .md-button.md-button-secondary[disabled]:hover {
    background-color: #fff !important;
    color: #AEAEAE !important;
    border-color: #E0E0E0;
}

.md-button-light-blue[disabled] {
    background-color: #E0E0E0;	
    color: #AEAEAE !important;
}

.md-button-flat-blue {
	background-color: #1D9BEC;
	color: #fff;
	box-shadow: unset;
	padding: 0 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.md-button-flat-blue:hover {
	background-color: #1D9BEC !important;	
}

.md-button-toggler {
	border: 1px solid #CDD2D4;
	background-color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    color: #657683;
    text-transform: unset;
	box-shadow: unset;
}

.md-button-toggler:hover {
	background-color: #fff !important;
}

.md-button-toggler .icon-check {
	display: none;
}

.md-button-toggler.active {
	background-color: #1D9DE9 !important;
	border: 1px solid #1D9DE9 !important;
	color: #fff;
}

.md-button-toggler.active:hover {
	background-color: #1D9DE9 !important;
}

.md-button-toggler.active .icon-check {
	display: inline-block;
}

/* .md-button-green {
    color: #fff !important;
    background-color: #1ac34a !important;
}

.md-button-green:hover {
    background-color: #1baf3a !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, 
md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: #1ac34a !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, 
md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #1ac34a !important;
} */

.md-button-dropdown:disabled {
	border: 1px solid #E0E0E0;
}

.md-button-dropdown {
	border: 1px solid #1D9AEB;
	color: #1D9AEB;
	font-weight: 600;
}

.md-button-dropdown .title {
	font-size: 14px;
	color: #1D9AEB;
}

.md-button-dropdown:disabled .title {
	color: #AEAEAE;
}

.md-button-dropdown:disabled .icon.icon-drop-down {
	background: url(/resources/connect/images/icons-connect.png)  no-repeat -12px 0px;	
}

.md-button-dropdown:hover {
	background-color: #E5F5FF;
}

.md-button.md-button-icon-media {
    min-width: 10px;
    margin: 0;
    border-radius: 6px !important;
    width: 30px;
    height: 30px;
    min-height: 30px;
    padding: 5px;
    box-shadow: unset;
    background: #000;
    opacity: 0.7;
}

.md-button.md-button-icon-media:not([disabled]):hover {
    opacity: 0.8;
    background: #000 !important;
}

md-input-container {
	background-color: #F9FAFB;
}

md-input-container .md-errors-spacer {
	display: none;
}

md-input-container.full-width {
	width: 100%;
}

md-input-container .md-input {
	border-color: #657682;
	font-size: 14px;
}

md-switch {
	display: inline-block;
    margin: 0;
}

md-switch  .md-label {
	font-size: 14px;
    font-weight: 600;
	color: #757575
}

/* md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
    background-color: #1ac34a !important;
}

md-switch.md-default-theme.md-checked .md-bar, md-switch.md-checked .md-bar {
    background-color: rgba(0,193,50,0.5) !important;
} */

md-tooltip {
	background-color: #002938 !important;
	color:  !important;
}

/* .md-sidenav-right.md-closed {
    -webkit-transform: translate3d(-100%, 0, 0) !important;
    transform: translate3d(-100%, 0, 0) !important;
} */

.md-calendar-day-header th {
	line-height: 40px;
}

/* .md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
	background-color: #1ac34a;
}

.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #1ac34a;
} */

.demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding: 0 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.md-select-menu-container md-option[disabled="disabled"] {
    cursor: not-allowed !important;
}

.md-select-menu-container md-option[disabled="disabled"] .md-container {
    opacity: 0.6;
}

.md-select-menu-container md-option[disabled="disabled"] .md-text {
    color: #777777;
}

[lang="ar"] md-menu-content md-menu-item div > p,
[lang="kur"] md-menu-content md-menu-item div > p {
	text-align: right;
}

/* .md-datepicker-input-container.md-datepicker-focused {
	border-bottom-color: #1ac34a !important;
} */

md-datepicker[disabled] .md-datepicker-input-container {
	background-position: 0 bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    margin-bottom: -1px;
    border-bottom-color: transparent;
    background-image: linear-gradient(90deg,rgba(0,0,0,0.38) 0,rgba(0,0,0,0.38) 33%,transparent 0);
    background-image: -ms-linear-gradient(left,transparent 0,rgba(0,0,0,0.38) 100%);
    color: rgba(0,0,0,0.38);
}

.md-open-menu-container.md-active {
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

md-radio-group:not([disabled]) .md-primary.md-checked .md-off {
	border-color: #1D9AEB;
}

md-radio-button:not([disabled]).md-primary .md-on,
md-radio-group:not([disabled]) .md-primary .md-on {
	background-color: #1D9AEB;
}

/** md-dialog **/

.md-dialog-is-showing {
position: relative;
}

md-backdrop.md-dialog-backdrop {
    z-index: 107;
	/* min-width: 1024px;
	width: 100%; */
}

.md-scroll-mask {
	z-index: 106;
}

.md-dialog-super-container .md-dialog-container {
	height: 0px !important;
}

.md-dialog-container {
	z-index: 107;
	/* min-width: 1024px; */
}

md-dialog md-toolbar .md-toolbar-tools h2 {
	font-weight: 700;
}

md-backdrop.md-menu-backdrop {
    z-index: 108 !important;
}

.md-select-menu-container {
	z-index: 111;
}

.md-open-menu-container {
	z-index: 108;
}

md-backdrop.md-select-backdrop {
    z-index: 110;
}

.md-open-menu-container .md-button {
	border-radius: 0 !important;
    box-shadow: unset !important;
}

.md-open-menu-container .md-button p {
	font-size: 14px;
}

.md-open-menu-container .md-button .icon {
	margin-right: 18px;
}

[lang="ar"] .md-open-menu-container .md-button .icon {
	margin-right: 0px;
	margin-left: 18px;
}

/**********************************************************
*		 Required
**********************************************************/

md-select.required md-select-value {
    color: rgb(221,44,0)!important;
    border-bottom-color: rgb(221,44,0)!important;
}

md-datepicker.required .md-datepicker-input-container {
    border-bottom-color: rgb(221,44,0);
}

md-datepicker.required .md-datepicker-input-container input::placeholder {
    color: rgb(221,44,0)!important;
}

md-input-container.required label {
    color: rgb(221,44,0)!important;
}

md-input-container.required .md-input {
    border-color: rgb(221,44,0);
}

/**********************************************************
*		 md-dialog
**********************************************************/

.md-dialog-container md-dialog md-toolbar {
	background-color: #fff;
}
